@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
::selection{
    background-color: black;
    color: white;
}
html{
    margin-top: 0%;
    background: url(backgroundf.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}

.navigation{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    background-color: #1e1e1e;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(160, 156, 156);
}

.navigation a{
    
    color: white;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Titillium Web';
    font-size: 25px;
}
.navigation button{
    outline: none;
    background-color: transparent;
    border-style: none;
    
}
.navigation a:hover{
    text-decoration: 2px underline;
}
.heading{
    text-align: center;
    font-family: 'Titillium Web';
    font-size: 50px;
    transform: translateY(20%);
    text-shadow: 2px 2px 5px rgb(128, 126, 126);
}
.heading p{
    font-weight: 900;
}
.heading a{
    text-decoration: none;
    color: black;
}
.heading button{
    border-style: none;
    background-color: black;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(128, 126, 126);
}
.heading button a{
    font-family: 'Titillium Web';
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}
.hamburger{
    display: none;
}
@media all and (max-width: 700px){
    .navigation{
        display: none;
    }
    .hamburger{
        color: white;
        display: block;
        overflow: hidden;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
        background-color: #1e1e1e;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgb(160, 156, 156);
    }
    .hamburger a i{
        font-size: 30px;
        color: white;
    }
    .hamburger #myLinks{
        display: none;
        font-family: 'Titillium Web';
        font-size: 20px;
        font-weight: 900;
        color: white;
        background-color: #1e1e1e;
        float: left;
    }
    .hamburger #myLinks a{
        text-decoration: none;
    }
    
    .hamburger a {
        display: block;
        color: white;
        padding: 10px 20px;
    }
    
    .heading{
        transform: translateY(0%);
        font-size: 35px;
    }
    
}
@media all and (max-width: 1200px){
    .heading{
        transform: translateY(5%);
    }
}

